@model ConsoleViewModel
@{
    ViewData["Title"] = "Console";
}

<h1>Console</h1>

Hi, @Model.User.Name
<div class="console-container">
    <div class="log-events d-flex flex-column">
        @foreach (FightLog entry in Model.Log)
        {
            <span class="mt-2">@entry.Entry</span>
        }
    </div>
    <div class="screen-options mt-2">
        @foreach (AccessPoint p in Model.AccessPoints)
        {
            @Html.ActionLink(p.Description, "Travel", new { screenID = p.To })
        }
    </div>
</div>

