@model User
@{
    ViewData["Title"] = "Browser Adventure";
}

    <div class="game-banner">
        <center><img src="~/img/BannertFinale.png" /></center>
    </div>

<div class="form-container olde-font">
    <form method="post" asp-controller="Home" asp-action="Login" >
        <label asp-for="Name" >Name:</label>
        <input asp-for="Name" class="text-field"/>
        <input type="submit" value="Login" class="btn btn-primary login-button border-0" />
    </form>
</div>