@model User
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="form-container olde-font">
    <form method="post" asp-controller="Home" asp-action="Login" >
        <label asp-for="Name" ></label>
        <input asp-for="Name" />
        <input type="submit" value="Login" class="btn btn-primary login-button border-0" />
    </form>
</div>