@model ConsoleViewModel
@{
    ViewData["Title"] = "Container";
}

<h1>Console</h1>

<div class="console-container olde-font">
    <div class="log-events d-flex flex-column">
        @foreach (FightLog entry in Model.Log)
        {
            <span class="mt-2 text-center font-weight-bold">. . .</span>
            <span class="mt-2">@Html.Raw(entry.Entry)</span>
            
           }
    </div>
    <div class="screen-options mt-2 d-flex flex-column">
        @if(Model.Chest.ItemsInside != null) { 
        @foreach (KeyValuePair<int, Item> item in Model.Chest.ItemsInside)
        {
            @Html.ActionLink($"Take the {item.Value.ItemName}", "Take", new { inventoryItemID = item.Key, itemID = item.Value.ItemID, chestID = Model.Chest.ParentContainer.ItemID})
        }
        }
        @Html.ActionLink($"Close the {Model.Chest.ParentContainer.ItemName}", "Close", Model)
    </div>
</div>

<div class="inv-view">
    <partial name="Inventory" />
</div>

<script>
window.scrollTo(0, document.body.clientHeight);
</script>